<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Engine for Local File System</title>
</head>
<body>
<h1>Search Files</h1>
<form action="/search" method="get">
    <input type="text" name="query" placeholder="Enter keyword" required>
    <button type="submit">Search</button>
</form>

<h2>Results:</h2>
<ul>
    <li th:each="file : ${files}">
        <a th:href="@{'/open-file?filePath=' + ${file.filePath}}" th:text="${file.fileName}"></a> -
        <span th:text="${file.filePath}"></span>
        <p th:text="${file.content.length() > 100 ? file.content.substring(0, 100) + '...' : file.content}"></p>
    </li>
</ul>


</body>
</html>
